<div class="container-fluit">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="question-detail">

                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <p class="alert alert-info alert-dismissable">
                                    <button class="close" type="button"
                                            data-dismiss="alert">&times;
                                    </button>
                                    {{ message }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <p>
                        {% for topic in article.topics.all %}
                            <a href="{% url 'topic_detail' topic.id %}">
                                <button class="btn btn-default"
                                        type="button">{{ topic.name }}
                                </button>
                            </a>
                        {% endfor %}
                    </p>
                    <div class="question-title">
                        <h3><a href="
{% url 'article_detail' article.id %}">{{ article.title }}</a></h3>
                    </div>
                    <p>{{ article.content }}</p>
                    <div class="question-meta">
                        <button type="button" class="btn btn-primary"
                                onclick="collect_article(this, {{ article.id }})">
                            {% if has_collect_article %}已收藏{% else %}收藏帖子{%endif %}
                        </button>
                        <span>{{ article.pub_time }}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="question-right">
                            <p class="text-center">收藏数</p>
                            <p class="text-center">
                                {{article.get_collect_nums }}</p>
                        </div>
                        <div class="question-right">
                            <p class="text-center">被浏览</p>
                            <p class="text-center"><span
                                    class="info-num">{{ article.read_nums }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //收藏帖子
    function collect_article(dom, article_id) {
        var old_path = location.pathname;
        $.ajax({
            type: 'GET',
            async: true,
            url: "{% url 'collect_article' %}",
            data: {'article_id': article_id},
            cache: false,
            success: function (data) {
                if (data.status == 'success') {
                    $(dom).text(data.message);
                } else {
                    location.href = "{% url 'user_login' %}" + '?next=' + old_path;
                }
            },
            error: function (xhr, err_msg, error) {
                alert('请求出错');
            },
        });
    }
</script>
