{% extends 'base.html' %}

{% block title %}帖子详情-分享为赢{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block custom_js %}
    <!-- 启用富文本编辑器样式 -->
    {% load staticfiles %}
    <script type="text/javascript"
            src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript"
            src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}

    {% include 'bbs/article.html' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="site-box">
                    <div class="clearfix">
                        <strong>{{ page.paginator.count }} 个回帖</strong>
                    </div>
                    <hr>

                    {% for comment in page.object_list %}
                        <div class="answer-item">
                            {% if comment.is_anonymous %}
                                <div class="media">
                                    <a class="media-left"><img width="24"
                                                               height="24"
                                                               src="{{ MEDIA_URL }}image/default_user.png"
                                                               alt="头像"
                                                               class="media-object"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading text-muted">
                                            匿名回答</h4>
                                    </div>
                                </div>
                            {% else %}
                                <div class="media">
                                    <a target="_blank"
                                       href="{% url 'user_home' comment.author_id %}"
                                       class="media-left"><img width="24"
                                                               height="24"
                                                               src="

                                                                       {{ MEDIA_URL }}{{ comment.author.image }}"
                                                               alt="头像"
                                                               class="media-object"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a
                                                target="_blank"
                                                href="{% url 'user_home' comment.author_id %}">
                                            {{ comment.author.username }}</a>
                                        </h4>
                                        <p class="text-muted">
                                            {{ comment.author.description|default_if_none:'' }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            <p class="text-muted">{{ comment.follow_nums }}
                                人赞同了该回答</p>
                            <p>
                                {{ comment.content|safe }}
                            </p>
                            <p class="text-muted">发表于 {{ comment.pub_time }}</p>
                            <div class="answer-meta">
                                <a href="{% url 'comment_detail' comment.id %}">
                                    <button type="button"
                                            class="btn btn-primary btn-sm btnvote-up">
                                        <span class="glyphicon glyphicon-triangle-top"></span>
                                        {{ comment.follow_nums }}
                                    </button>
                                </a>
                                <a href="{% url 'comment_detail' comment.id %}">
                                    <button type="button"
                                            class="btn btn-default btn-sm btnvote-down">
                                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    </button>
                                </a>
                                <a href="{% url 'comment_detail' comment.id %}">
                                    <button type="button"
                                            class="btn btn-default btn-sm">
                                        {{ comment.comment_nums }} 条评论
                                    </button>
                                </a>
                                <a href="{% url 'comment_detail' comment.id %}">
                                    <button type="button"
                                            class="btn btn-default btn-sm"><span
                                            class="glyphicon glyphicon-star"></span>收藏
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        <p>暂时没有回帖</p>
                    {% endfor %}
                </div>
                <div class="site-box">
                    <form action=" " method="post">
                        {% csrf_token %}
                        {% for discuss in comment_form %}
                            <div class="form-group">
                                {{ discuss.errors }}
                                {{ discuss.label_tag }}
                                {{ discuss }}
                            </div>
                        {% endfor %}
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary"> 提交回答
                            </button>
                        </div>
                    </form>
                </div>

                {% include 'zhihu/paginator.html' %}

            </div>

            <div class="col-sm-4">
                <div class="site-box">
                    <h4>关于作者</h4>
                    <hr>
                    <div class="media">
                            <a target="_blank"
                               href="{% url 'user_home' article.author_id %}"
                               class="media-left">
                                <img width="60" height="60"
                                     src="{{ MEDIA_URL }}{{ article.author.image }}"
                                     alt="头像" class="media-object">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a target="_blank"
                                                             href="{% url 'user_home' article.author_id %}">
                                    {{ article.author.nickname }}</a></h4>
                                <p>{{ article.author.description|default_if_none:'' }}</p>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}