{% extends 'base.html' %}

{% block title %}帖子详情-分享为赢{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block custom_js %}
    <!-- 启用富文本编辑器样式 -->
    {% load staticfiles %}
    <script type="text/javascript"
            src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript"
            src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <script>
        // 加载 modal
        function load_modal(article_id, comment_id) {
            let modal_body = '#modal_body_' + comment_id;
            let modal_id = '#comment_' + comment_id;

            // 加载编辑器
            if ($(modal_body).children().length === 0) {
                let content = '<iframe src="/post_comment/' +
                    article_id +
                    '/' +
                    comment_id +
                    '" frameborder="0" style="width: 100%; height: 100%;"></iframe>';
                $(modal_body).append(content);
            }
            ;

            $(modal_id).modal('show');
        };

    </script>

{% endblock %}

{% block content %}

    {% include 'bbs/article.html' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="site-box">
                    {% if user.is_authenticated %}
                        <form action="{% url 'post_comment' article.id %}"
                              method='post'>
                            {% csrf_token %}
                            {% for field in comment_form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.as_widget }}
                                </div>
                            {% endfor %}
                            <p class="alert alert-success hidden"
                               id="submit-info"></p>
                            <div class="text-right">
                                <button id="comment-submit"
                                        class="btn btn-primary"
                                        type="submit">评论
                                </button>
                            </div>
                        </form>
                        <br>
                    {% else %}
                        <br>
                        <h5 class="row justify-content-center">
                            请<a href="{% url 'user_login' %}">登录</a>后回复
                        </h5>
                        <br>
                    {% endif %}
                    <div class="clearfix">
                        <strong>{{ page.paginator.count }} 个回帖</strong>

                        <!-- 显示评论 -->
                        <div>
                            <!-- 遍历树形结构 -->
                            {% load mptt_tags %}
                            {% recursetree page.object_list %}
                                <!-- 给 node 取个别名 comment -->
                                {% with comment=node %}
                                    <div class="{% if comment.reply_to %}
                        col-sm-offset-2
                        {% else %}
                        col-sm-8
                        {% endif %}"
                                    >
                                        <hr>

                                        {% if comment.reply_to %}
                                            <p>
                                                <strong style="color: teal">
                                                    <a target="_blank" href="{% url 'user_home' comment.user_id %}">
                                                        {{ comment.user }}</a>
                                                </strong>
                                                <i class="far fa-arrow-alt-circle-right"
                                                   style="color: black;"></i>
                                                <strong style="color: teal">
                                                    <a target="_blank"
                                                       href="{% url 'user_home' comment.reply_to_id %}">
                                                        {{ comment.reply_to }}</a>
                                                </strong>
                                            </p>
                                        {% else %}
                                            <div class="media">
                                                <a target="_blank"
                                                   href="{% url 'user_home' comment.user_id %}"
                                                   class="media-left"><img width="24"
                                                                           height="24"
                                                                           src="
                                                                                   {{ MEDIA_URL }}{{ comment.user.image }}"
                                                                           alt="头像"
                                                                           class="media-object"></a>
                                                <div class="media-body">
                                                    <strong style="color: teal">
                                                        <a target="_blank" href="{% url 'user_home' comment.user_id %}">
                                                            {{ comment.user }}</a>
                                                    </strong>

                                                </div>
                                            </div>
                                        {% endif %}

                                        <div>{{ comment.body|safe }}</div>

                                        <div>
                    <span style="color: gray">
                        {{ comment.created|date:"Y-m-d H:i" }}
                    </span>

                                            <!-- 加载 modal 的按钮 -->
                                            {% if user.is_authenticated %}
                                                <button type="button"
                                                        class="btn btn-light btn-sm text-muted"
                                                        onclick="load_modal({{ article.id }}, {{ comment.id }})"
                                                >
                                                    回复
                                                </button>
                                            {% else %}
                                                <a class="btn btn-light btn-sm text-muted"
                                                   href="{% url 'user_login' %}"
                                                >
                                                    回复
                                                </a>
                                            {% endif %}
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade"
                                             id="comment_{{ comment.id }}"
                                             tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="CommentModalCenter"
                                             aria-hidden="true"
                                        >
                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content" style="height: 500px">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">
                                                            回复 {{ comment.user }}：</h5>
                                                    </div>
                                                    <div class="modal-body" id="modal_body_{{ comment.id }}"></div>
                                                </div>

                                            </div>
                                        </div>

                                        {% if not comment.is_leaf_node %}
                                            <div class="children">
                                                {{ children }}
                                            </div>
                                        {% endif %}
                                    </div>


                                {% endwith %}
                            {% endrecursetree %}
                        </div>
                    </div>


                </div>

                {% include 'zhihu/paginator.html' %}

            </div>

        </div>

    </div>

{% endblock %}

